[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "fonts/nerd-fonts"]
	path = fonts/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "util/fzf"]
	path = util/fzf
	url = https://github.com/junegunn/fzf.git
