extends erlang

snippet pry "Insert Breakpoint"
require IEx; IEx.pry
endsnippet

snippet ap "Insert inspection"
IO.puts ""
IO.puts ""
IO.puts "------------------------------------"
IO.inspect $0
IO.puts "------------------------------------"
IO.puts ""
IO.puts ""
endsnippet
