* {
	font-size:17px;
  /* font-family: "Hack Nerd Font"; */
  font-family: "BBT_437TT_Awesome";
	border-color:transparent;
	text-shadow:  2px 2px 0px #000000;
}

window#waybar {
	background-color: transparent;
}
window#waybar:first-child > box {
    /*margin: 4px;
    padding: 0px 4px 0px 4px;
    border-radius: 10px 10px ;*/
    background-color: #282a36 ;
    color: #f8f8f2;
    /*border-bottom: 1px solid #bd93f9;
    border-top: 1px solid #50fa7b;*/

}

#workspaces {
	padding: 0 4px 0 4px;
 	font-size: 17px;
}

#workspaces button {
	padding: 0 4px 0 4px;
	background-color: transparent ;
	color: #f8f8f2;
	margin-bottom:2px;
	margin-top:2px;
}

#workspaces button:hover {
	border-color: transparent;
	color: #ff5555;
}

#workspaces button.focused {
	color: #50fa7b;
}

#workspaces button.empty {
	color: #555555;
	background: transparent;
}

#workspaces button.active {
	color: #50fa7b;
	background: transparent;
}

#workspaces button.urgent {
	color: #ff8080;
}
#window {
	background-color: transparent;
	padding: 0px 0px 0px 8px;
/*	border-left: 1px solid #50fa7b;*/
}
#battery {
	background-color: transparent;
	padding: 0px 8px 0px 8px;
}
#network {
	padding: 0px 8px 0px 8px;
}
#clock {
	padding: 0px 8px 0px 8px;
	color: #50fa7b;
	}
#pulseaudio {
        padding: 0px 8px 0px 8px;
}
#pulseaudio.muted {
	padding: 0px 8px 0px 8px;
}
#backlight {
	padding: 0px 8px 0px 8px;
}
#memory{
	padding: 0px 8px 0px 8px;
}
#cpu{
	padding: 0px 8px 0px 8px;
}
#custom-ddcutil {
	padding: 0px 8px 0px 8px;
}
